body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}
.section-links {
    width: 100%;
    min-height: 100vh;
    background-color: #fdeff9;
}
.contenedor-img-perfil {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-img-perfil img {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 50%;
}
.contenedor-img-perfil h1 {
    font-weight: 700;
    color: #B24592;
    font-size: 20px;
}
.contenedor-img-perfil h2 {
    font-weight: 600;
    color: #B24592;
    font-size: 14px;
    text-align: center;
    width: 300px;
}
.contenedor-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fav-btn {
    background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 360px;
height: 30px;
font-size: 16px;
color: #fdeff9;
font-family: 'Raleway', sans-serif;
font-weight: 500;
    border: none;
    text-decoration: none;
    padding-top: 12px;
    text-align: center;
    margin: 12px;
    border-radius: 10px;
}
.fav-btn:hover {
    background: #A770EF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid ;
    transition: 0.5s;
}
.contenedor-links h2 {
    color: #38383d;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
}
.logo-rubyrose {
    width: 150px;
    margin-top: 40px ;
    margin-bottom: 10px
}
.logo-natura {
    width: 80px;
    margin-top: 40px ;
    margin-bottom: 10px;
    border-radius: 50%;
}
.fav-btn-2 {
    background: #B24592;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
width: 360px;
height: 45px;
font-size: 16px;
color: #fdeff9;
font-family: 'Raleway', sans-serif;
font-weight: 500;
    border: none;
    text-decoration: none;
    padding-top: 12px;
    text-align: center;
    margin: 12px;
    border-radius: 10px;
}
.fav-btn-2:hover {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border: 1px solid ;
        transition: 0.5s;
}
.img-hotsale {
    margin-right: 5px;
    height: 30px;
}
/*estilos iconos de redes*/
.container-redes {
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.fav-btn-rrss img {
    width: 45px;
}
footer {
    background-color: #fdeff9;
    height: 50px;
    margin: 0;
    width: 100%;
}
footer h5 {
    margin: 0 auto;
    text-align: center;
    color: #38383d;
}
footer a {
    color: #ff00cc;

}